.projects {
    padding: 40px;
}

.projects-title {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
    background: -webkit-linear-gradient(315deg, #0433ed, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects-title::before,
.projects-title::after {
    content: '';
    background-color: #000;
    height: 2px;
    flex-grow: 1;
    margin: 0 20px;
}

@media (max-width: 768px) {
    .projects-title::before,
    .projects-title::after {
        margin: 0 10px;
        width: 30%;
    }
}